body {
    padding: 100px;
}

#header {
    margin-left: 37%;
}

.login-area {
    height: 230px;
    width: 700px;
    margin-left: 30%;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
    border-radius: 10px;
}

#transaction {
    display: none;
    margin-left: 8%;
}

.deposit-area {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 30px;
    width: 380px;
    height: 200px;
}

.dep {
    margin-left: 20%;
    box-shadow: 5px 5px 10px gray;
    padding: 30px;
    width: 500px;
    height: 250px;
    border-radius: 10px;
}

.wid {
    margin-left: -10%;
    box-shadow: 5px 5px 10px gray;
    padding: 30px;
    width: 500px;
    height: 250px;
    border-radius: 10px;
}

.Deposit {
    background-color: chocolate;
    color: white;
    margin-left: 5%;
    position: absolute;
}

.Withdraw {
    background-color: rgb(15, 177, 161);
    color: white;
}

.Blance {
    background-color: teal;
    color: white;
    margin-left: -5%;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    .login-area {
        width: 280px;
        height: 230px;
        margin-left: -32%;
        position: absolute;
    }
    #header {
        font-size: 15px;
        margin-left: -1%;
        color: green;
    }
    .Deposit {
        width: 250px;
        height: 150px;
        display: flex;
        position: relative;
        margin-bottom: 5%;
        margin-left: -30%;
        box-shadow: 2px 2px 5px gray;
    }
    .Withdraw {
        width: 250px;
        height: 150px;
        display: flex;
        position: relative;
        margin-bottom: 5%;
        margin-left: -30%;
        box-shadow: 2px 2px 5px gray;
    }
    .Blance {
        width: 250px;
        height: 150px;
        display: flex;
        position: relative;
        margin-bottom: 5%;
        margin-left: -30%;
        box-shadow: 2px 2px 5px gray;
    }
    .dep {
        width: 250px;
        height: 180px;
        margin-left: -30%;
    }
    .wid {
        width: 250px;
        height: 180px;
        margin-top: 4%;
        margin-left: -30%;
    }
    #addwithdrawAmount {
        font-size: 12px;
    }
    #depositAmount {
        font-size: 12px;
    }
}